<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://yifei1getmember2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/54f588b5-4293-4549-b2db-fe9d4fd9b949/resourcegroups/yifeiApp/providers/Microsoft.Web/sites/yifei1getmember2</ResourceId>
    <UserName>$yifei1getmember2</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://yifei1getmember2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>